extends layout
block gameSpecific
	script(src='/js/classes/player.js')
	script(src='/js/classes/game.js')
	script(src='/js/lobby.js')

	each jsFile in gameResources['js']
		script(src='#{jsFile}')
	each cssFile in gameResources['css']
		link(rel='stylesheet', href='#{cssFile}')

block content
	#gameWindow(style="width:100%;height:100%;position:fixed;")
		#gameContent
			#gameTitle.title #{title}

			#error(style="display:none")
				#error-box
					#error-msg

			#gameChoices
				if lobbies
					span.choice Start a new lobby or join an existing one:
					br
					button#newLobby.btn New Lobby
				#loginContainer(style=(lobbies ? "display:none" : "display: block"))
						.instructions Enter your name
						input#playerName.name-input(style="display:none")
				#lobbies(style="margin-top:20px")
					if lobbies
						span.choice Open Lobbies
						br
						each lobby in lobbies
							a.game(href='#{title}/lobby/#{lobby.key}') #{lobby.key}
							br

			button#readyButton.btn(style="display:none") Start Game

			#gameBoard

			#players.floating-info(style="display:none")
				u Current Players
				ul#playerList
					each user in userlist
						li #{userlist[user]}
	//Create game lobby
	script
		//setup socket connection
		var socket = io.connect();
		$(document).ready(function() {
			var lobby = new Lobby(uniqueKey, $('#gameBoard'));
			lobby.initialize();
		});